/* primary: #eb2f64;
primary_light:#ff3366;
primary_dark:#ba265d;

grey_light 1: #faf9f9;
grey_light 2: #f4f2f2;
grey_light 1: #f0eeee;
grey_light 1: #ccc;

grey_dark-1:#333;
grey_dark-2:#777;
grey_dark-3:#999;

*/
* {
  margin: 0;
  padding: 0; }

:root {
  --color-grey-light: white;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-repeat: no-repeat;
  min-height: 100vh; }

.containner {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: var(--color-grey-light-2); }
  @media only screen and (max-width: 75em) {
    .containner {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.5em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  font-size: 1.4rem;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel__view {
  flex: 1; }

.Details {
  display: flex;
  padding: 4.5rem;
  border-bottom: 1px solid var(--color-grey-dark-1); }
  @media only screen and (max-width: 56.25em) {
    .Details {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .Details {
      flex-direction: column;
      padding: 3rem; } }

.description {
  font-size: 1.4rem;
  background-color: #fff;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.06); }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 3rem;
      margin: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      padding: 3rem;
      margin: 5rem; } }

.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  width: 4rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 31.5em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: inherit;
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    width: 90%;
    margin-right: -3.25rem;
    background-color: var(--color-grey-light-2);
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      background-color: var(--color-grey-light-3); }
  .search__input:focus + .search__btn {
    background-color: var(--color-grey-light-3); }
  .search__btn {
    border: none;
    background-color: var(--color-grey-light-3); }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(px); }
  .search__icon {
    height: 1.3rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch; }
  .user__nav > * {
    cursor: pointer;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.3rem;
    height: 100%; }
  .user__nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user__nav-icon-box {
    position: relative;
    fill: var(--color-grey-dark-2); }
  .user__nav-icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user__nav-notification {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #ba265d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1.4rem; }
  .user__nav-user-photo {
    height: 3.75rem;
    width: 3.75rem;
    margin-right: 2rem;
    border-radius: 50%; }

.side__nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .side__nav {
      display: flex;
      margin-top: 0; } }
  .side__nav-items {
    font-size: 1.4rem;
    position: relative; }
    .side__nav-items:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .side__nav-items:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side__nav-items {
        flex: 1; } }
  .side__nav-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    background-color: #ba265d;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s; }
  .side__nav-items:hover::before, .side__nav-items-active::before {
    transform: scaleY(1);
    width: 100%; }
  .side__nav-itmes:active::before {
    background-color: #eb2f64; }
  .side__nav-link:link, .side__nav-link:visited {
    color: var(--color-grey-light-2);
    display: block;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .side__nav-link:link, .side__nav-link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side__nav-link:link, .side__nav-link:visited {
        padding: 1.5rem;
        flex-direction: column; } }
  .side__nav-icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: #fff; }
    @media only screen and (max-width: 37.5em) {
      .side__nav-icon {
        margin-right: 0;
        mask-border: 0.7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legaly {
  font-size: 1.2rem;
  color: var(--color-grey-light-3);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legaly {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    font-weight: 300;
    font-size: 2.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        padding: 1rem 2rem;
        font-size: 1.8rem; } }
  .overview__star {
    margin-right: auto;
    display: flex; }
  .overview__icon--star, .overview__icon--location {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__icon--location {
    margin-right: 0.5rem; }
  .overview__rating {
    color: #fff;
    background-color: #eb2f64;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0rem 1.5rem; } }
  .overview__rating--average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 2px; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating--average {
        font-size: 1.8rem; } }
  .overview__rating--count {
    font-size: 0.8rem;
    text-transform: uppercase; }

.btn--inline {
  border: none;
  color: #eb2f64;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 2s; }
  .btn--inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .btn--inline:hover {
    color: var(--color-grey-dark-2); }
    .btn--inline:hover span {
      margin-left: 8px; }
  .btn--inline:active {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  font-size: 1.4rem;
  margin: 3rem 0rem; }

.list {
  padding: 3rem 0rem;
  margin: 3rem 0rem;
  list-style: none;
  border-bottom: 1px solid var(--color-grey-dark-2);
  border-top: 1px solid var(--color-grey-dark-2);
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .list__item {
    margin-bottom: 0.7rem;
    flex: 0 0 50%; }
  .list__item::before {
    content: "";
    display: inline-block;
    margin-right: 0.7rem;
    width: 2rem;
    height: 2rem;
    background-color: #eb2f64;
    -webkit-mask-image: url("../img/SVG/chevron-small-right.svg");
    -webkit-mask-size: cover;
    mask-image: url("../img/SVG/chevron-small-right.svg");
    mask-size: cover; }

.recommend {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: var(--color-grey-dark-3); }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.4rem; }

.review {
  background-color: #fff;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.3);
  padding: 3rem;
  margin: 3.5rem 0rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin: 2.5rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center;
    padding-top: 2rem; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    text-transform: uppercase; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    color: #eb2f64;
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201c";
    position: absolute;
    top: -1rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem 0rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0rem; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, #eb2f64, #ba265d);
  color: #fff;
  position: relative;
  overflow: hidden; }
  .btn > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 1s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0rem; }
  .btn:hover .btn__visible {
    transform: translateY(-100%); }
  .btn:hover .btn__invisible {
    top: 0;
    background-image: linear-gradient(to left, #eb2f64, #ba265d); }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }
